.App {
  text-align: center;
  margin: 10px;
}
input:focus , textarea:focus {
  outline-style: none;
  box-shadow: none;
}

.error{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}